@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboard-container::-webkit-scrollbar,
.latteral-scroolbar::-webkit-scrollbar,
.dashboard-scroolbar::-webkit-scrollbar{
  @apply w-[5px];
}

.dashboard-scroolbar::-webkit-scrollbar-track{
  @apply bg-white;
  margin-block: 2em;
}

.latteral-scroolbar::-webkit-scrollbar-track{
  @apply bg-[rgba(23,23,23,0.8)];
  margin-block: 2em;
}

.dashboard-container::-webkit-scrollbar-track{
  @apply bg-[#F6F7FC];
  margin-block: 2em;
}

.dashboard-scroolbar::-webkit-scrollbar-thumb{
  @apply bg-white rounded-lg  transition-all;
}
.latteral-scroolbar::-webkit-scrollbar-thumb{
  @apply bg-[rgba(23,23,23,0.8)] rounded-lg  transition-all;
}


.dashboard-container::-webkit-scrollbar-thumb,
.latteral-scroolbar:hover::-webkit-scrollbar-thumb,
.dashboard-scroolbar:hover::-webkit-scrollbar-thumb{
  @apply bg-[#3479D8] rounded-lg  transition-all;
}

/* shadows */
.shadow-1{
  -webkit-box-shadow: 4px 5px 23px -5px rgba(0,0,0,0.08); 
  box-shadow: 4px 5px 23px -5px rgba(0,0,0,0.08);
}
.hover-shadow-1:hover{
  -webkit-box-shadow: 4px 5px 23px -5px rgba(0,0,0,0.08); 
  box-shadow: 4px 5px 23px -5px rgba(0,0,0,0.08);
}


/* animista animations*/

.slide-right {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
}
  